.dpopup {
  z-index: 111;
}

.calendar-manager {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.calendar {
  display: flex;
  column-gap: 30px;
}

.dates {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 1024px) {
  .dates {
    display: block;
    max-width: 50%;
  }
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.specific-time.isNonAvailable {
  background-color: #f44336;
}

.specific-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1976d2;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 6px;
}

.specific-date .label {
  display: flex;
  flex-direction: column;
}

.change-time {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.popup-section {
  margin-bottom: 10px;
}

.add-icon,
.time-picker {
  color: #fff !important;
}

.add-icon.close {
  font-size: 14px;
}

.dates-in-batch-mode {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

@media (max-width: 1024px) {
  .dates-in-batch-mode {
    display: grid;
    row-gap: 22px;
    text-align: center;
  }
}

.dates-in-batch-mode .dates {
  display: flex;
  max-width: 100%;
}

/* .component-wrapper {
  display: grid;
  grid-template-columns: 5fr 1fr;
  padding: 0 20px;
} */

.selected-dates-in-batch-mode .specific-date {
  display: block;
}

.batch-time {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.batch-time .icon-btn:hover {
  background-color: inherit;
}

.batch-mode-title {
  text-align: center;
}

.link {
  font-size: 1em;
  font-weight: 500;
  font-family: sans-serif;
  text-decoration: none;
  color: #fff;
}

.link:hover {
  color: rgb(108, 148, 223);
}
