.date-item {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  margin-bottom: 10px;
  column-gap: 3rem;
  padding: 10px;
  padding-top: 0;
  border-bottom: 1px solid #ccc;
}

.date-item div {
  margin: 0 !important;
}

@media (max-width: 1024px) {
  .date-item {
    padding: 0;
  }

  .date-item div {
    display: flex;
    flex-direction: column;
  }
}

span {
  word-break: break-word !important;
}

.label {
  font-weight: 600;
}
