.service-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.main-wrapper {
  max-width: 100%;
}

.service-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 1.5rem;
}

.new-service {
  text-align: center;

  display: flex;
  flex-direction: column;
  row-gap: 10px;
  max-width: 100%;
}

.new-service-control {
  display: flex;
  column-gap: 5px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .new-service-control {
    flex-direction: column;
  }
}

.new-service-input {
  height: 2rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
}
