:root {
  --login-page-bg-night: #172435;
  --login-page-bg-day: #abe7db;
  --input-border-day: #ffd387;
  --input-border-day-focus: #ed991e;
  --input-border-night: #fd6e72;
  --input-border-night-focus: #fd6e72;
  --white: #fff;
}

.login-wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: var(--login-page-bg-night);
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-wrapper .content {
  display: flex;
  flex-direction: column;
  top: -20%;
  position: relative;
  justify-content: center;
  align-items: center;
}

.login-wrapper .content img {
  width: 100%;
}

.login-wrapper .content .form-controls {
  display: flex;
  align-items: center;
  gap: 24px;
  max-width: 350px;
  top: -50px;
  position: relative;
}

.login-wrapper .content .input label {
  color: var(--white);
}

.login-wrapper .content .input input {
  color: var(--white) !important;
}

.login-wrapper .content .input div::before {
  border-bottom-color: var(--input-border-day);
}

.login-wrapper .content .input div::after {
  border-bottom-color: var(--input-border-day-focus);
}

.login-wrapper .content button.button {
  background-color: #7c8eaf;
  min-width: 120px;
  align-self: stretch;
}

.login-wrapper .content button.button:disabled {
  background-color: #5d6c8a;
}

.day.login-wrapper {
  background-color: var(--login-page-bg-day);
}

.day.login-wrapper .input {
  background-color: #755261;
  border-radius: 4px;
  padding-left: 6px;
}

.day.login-wrapper .content .input label {
  color: var(--white);
  padding-left: 6px;
}

.day.login-wrapper .content button.button {
  background-color: #755261;
}

.day.login-wrapper .content .input div::before {
  border-bottom-color: var(--input-border-night);
  opacity: 0.75;
}

.day.login-wrapper .content .input div::after {
  border-bottom-color: var(--input-border-night-focus);
}

@media (max-width: 680px) {
  .login-wrapper .content {
    padding-top: 50%;
  }

  .login-wrapper .content .form-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
  }

  .login-wrapper .content .button {
    width: 100%;
    min-width: none;
  }
}
